In [1]:
import pandas as pd
import csv

In [6]:
hw = pd.read_csv("hwdata.csv", sep=",")
hw.head()

,year,zip,onebr,twobr,threebr,fourbr,onehw,twohw,threehw,fourhw,city,county
0,2011,94002,1390,1640,2210,2580,26.73,31.54,42.50,49.62,Belmont,San Mateo County
1,2011,94005,1390,1630,2190,2560,26.73,31.35,42.12,49.23,Brisbane,San Mateo County
2,2011,94010,1290,1520,2040,2390,24.81,29.23,39.23,45.96,Burlingame,San Mateo County
3,2011,94014,1260,1480,1990,2330,24.23,28.46,38.27,44.81,Daly City,San Mateo County
4,2011,94015,1460,1720,2310,2710,28.08,33.08,44.42,52.12,Daly City,San Mateo County

In [8]:
rhna = pd.read_csv("rhna-data.csv")
rhna.head()

,city,county,vlrhna,totalvl,percentvl,lowrhna,lowtotal,lowpercent,modrhna,modtotal,modpercent,aboverhna,abovetotal,abovepercent,totalrhna,totaltotal,totalpercent
0,Alameda County,Alameda,9912,1270,13%,6604,716,11%,7924,778,10%,19596,16425,84%,44036,19189,44%
1,Alameda,Alameda,444,51,11%,248,33,13%,283,21,7%,748,194,26%,1723,299,17%
2,Albany,Alameda,80,0,0%,53,0,0%,57,0,0%,145,210,145%,335,210,63%
3,Berkeley,Alameda,532,89,17%,442,29,7%,584,2,0%,1401,817,58%,2959,937,32%
4,Dublin,Alameda,796,26,3%,446,39,9%,425,14,3%,618,2638,427%,2285,2717,119%

In [9]:
merged = pd.merge(hw, rhna, on="city", how="left")

In [12]:
merged.to_csv("data.csv")